<a href="https://colab.research.google.com/github/codeboye/test-project/blob/main/lesson_05_Pandas_1_Series%2C_generate%2C_index%2C_select_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas
    - 데이터 분석을 위한 python 라이브러리
    - R보다 Pandas의 학습, 성능, 활용분야 등이 좋음

    - Series와 DataFrame
        - Series : index와 value로 이루어짐
        - DataFrame : index, column, value로 이루어짐

### Series

In [1]:
import numpy as np
import pandas as pd

##### Series 선언

In [2]:
# blank
test = pd.Series(np.random.randint(10,size = 5))
test

0    8
1    7
2    4
3    1
4    8
dtype: int64

In [3]:
test2 = pd.Series({'Reinforcement learning': 'game AI',
 'Supervised learning': 'classification',
 'Unsupervised learning': 'clustering'})
test2

Reinforcement learning           game AI
Supervised learning       classification
Unsupervised learning         clustering
dtype: object

##### index(행) 이름 설정

In [4]:
# blank
test = pd.Series(np.random.randint(10,size = 5),index = list('ABCDE'))
test

A    0
B    8
C    8
D    0
E    7
dtype: int64

In [5]:
# blank
test.index, test.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([0, 8, 8, 0, 7]))

##### Series 데이터 선택

In [6]:
# blank
test['A']

0

In [7]:
# blank
test.E

7

##### Series Indexing

In [8]:
# blank
test[2:]

C    8
D    0
E    7
dtype: int64

In [9]:
# blank
test[::-1]

E    7
D    0
C    8
B    8
A    0
dtype: int64

### DataFrame
    - 여러개의 Series로 구성

##### 생성

###### dict안에 list로 value 생성

In [10]:
data = {
    "name":['Minhyeok', 'Seojun','Juyoung'],
    "class":['python', 'RNN','practice']    
       }
data

{'class': ['python', 'RNN', 'practice'],
 'name': ['Minhyeok', 'Seojun', 'Juyoung']}

In [11]:
# blank
df = pd.DataFrame(data)
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [12]:
df.loc[2]

name      Juyoung
class    practice
Name: 2, dtype: object

In [13]:
df.loc[0]["class"]

'python'

##### index 추가

In [ ]:
# blank

       name     class
a  Minhyeok    python
b    Seojun       RNN
c   Juyoung  practice

In [ ]:
# blank

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
# blank

array([['Minhyeok', 'python'],
       ['Seojun', 'RNN'],
       ['Juyoung', 'practice']], dtype=object)

##### index 변경

In [ ]:
# blank

        name     class
1번  Minhyeok    python
2번    Seojun       RNN
3번   Juyoung  practice

#### DataFrame data선택
    - row, column 선택 방법

##### row 선택

In [ ]:
# blank

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [ ]:
# blank

name     Minhyeok
class      python
Name: 0, dtype: object

###### row 선택 후 특정 컬럼 선택

In [ ]:
# blank

'python'

###### loc로 dataframe에 데이터 추가

In [16]:
# blank
df.loc[3] = {"name":"Adrian","class":"math"}
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice
3    Adrian      math

##### column 선택

In [17]:
# blank
df["name"]

0    Minhyeok
1      Seojun
2     Juyoung
3      Adrian
Name: name, dtype: object

###### DataFrame에서 column 리스트 확인

In [20]:
# blank # list 형변환은 보기 편하게 만들기 위해서
list(df.columns)

['name', 'class']

###### column 추가

In [21]:
# blank
df['age'] = [30,15,25,40]
df

       name     class  age
0  Minhyeok    python   30
1    Seojun       RNN   15
2   Juyoung  practice   25
3    Adrian      math   40

In [22]:
# blank
df.dtypes

name     object
class    object
age       int64
dtype: object

##### row, column 선택

In [25]:
# blank
df.loc[0,'age']

30

In [26]:
# blank
df.iloc[0,2]

30

##### dataframe 조건으로 선택

In [28]:
# blank
df[df['age']>25]

       name   class  age
0  Minhyeok  python   30
3    Adrian    math   40