<a href="https://colab.research.google.com/github/codeboye/test-project/blob/main/lesson_03_tuple%26dic_type%2C_type_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuple Function
    list보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [1]:
# blank
tp1 = 1,2,3
tp2 = (4,5,6)
type(tp1), type(tp2),tp1,tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [2]:
# blank
a,b = 10,20
a,b

(10, 20)

#### list와 마찬가지로 offset index 사용 가능

In [4]:
# blank
tp1[0], tp2[::-1]

(1, (6, 5, 4))

#### list와 tuple의 저장공간 비교

In [5]:
# blank
import sys
ls = [1,2,3]
tp = (1,2,3)
print(sys.getsizeof(ls),sys.getsizeof(tp))

96 80

#### tuple 활용
    절대로 변경이 되어선 안되는 데이터를 작성하는 경우

In [6]:
# blank
rate = (0,0.003)
print(type(rate),rate)
card = 100_000
point =  (card, rate)
print(type(point),point)

point_combi = point[0]*point[1][1]
print(point_combi)

<class 'tuple'> (0, 0.003)
<class 'tuple'> (100000, (0, 0.003))
300.0

### Dictionary(dict)
    순서가 없고 {키:값}으로 구성되어 있는 데이터 타입

In [7]:
# blank
dic = {
    "key":"value",
    1 : "첫번째",
    "second":2, 
    3: [3,4,5]
}
type(dic),dic

(dict, {1: '첫번째', 3: [3, 4, 5], 'key': 'value', 'second': 2})

In [ ]:
# blank

#### dict 출력방법
    dict[key값]

In [8]:
# blank
dic[1], dic["second"]

('첫번째', 2)

In [ ]:
# blank

#### dict형 데이터 타입 key, value값 확인
    keys() : key값을 확인
    values() : value값을 확인
        각각 리스트 타입으로 출력
    items() : key, value의 쌍으로 출력
        쌍을 이루고 수정이 불가능하므로 튜플 타입으로 출력
        
    ※ 주의 : 출력이 각각 list, tuple 타입으로 나타나지만 본래 데이터는 dict 타입이므로 순서가 없음
            즉, offset index를 사용할 수 없다!

In [9]:
# blank
dic.keys(), dic.values(),dic.items()

(dict_keys(['key', 1, 'second', 3]),
 dict_values(['value', '첫번째', 2, [3, 4, 5]]),
 dict_items([('key', 'value'), (1, '첫번째'), ('second', 2), (3, [3, 4, 5])]))

In [10]:
# blank
for key in dic.keys() :
  print(key)

key
1
second
3

In [ ]:
# blank

### length 구하기
    문자열, list, tuple, dict 타입의 경우 데이터의 길이(혹은 갯수)를 셀 수 있음
```python
len(구하고자 하는 데이터타입)
```

In [11]:
# blank
text = "hello python"
len(text)

12

In [ ]:
# blank

In [ ]:
# blank

In [ ]:
# blank

In [ ]:
# blank

### Type change
    - 데이터 타입을 변환하는 방법
    - 형태의 종류
        int, float, bool, str, list, tuple, dict

In [12]:
# blank
type(dic.values())

dict_values

In [16]:
# blank
type(list(dic.values()))

list

In [ ]:
# blank

In [17]:
# blank
a=1
print(type(a),a)
b = float(a)
print(type(b),b)
c=str(b)
print(type(c),c)

<class 'int'> 1
<class 'float'> 1.0
<class 'str'> 1.0

#### list -> dict로 만들기
    zip : 같은 index끼리 묶어주는 함수

In [ ]:
# blank
classes = ['Supervised learning','Unsupervised learning','Reinforcement learning']

In [ ]:
# blank