<a href="https://colab.research.google.com/github/codeboye/test-project/blob/main/lesson_11_function1_%EC%84%A0%EC%96%B8%2C_%ED%98%B8%EC%B6%9C%2C_return%2C_param%2C_args%2C_kwargs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Function
    - 특정 목적을 위해 작성한 코드(연산)의 집합
    - 독립적인 호출과 간결한 코드 작성을 위해 사용 : 코드 작성의 반복을 줄일 수 있음!
    - 복잡한 프로그래밍 작업을 더 간단한 작업들로 분해할 수 있다.
    - 한 번 작성하면 재사용이 편하다.
    - 가독성 및 코드 유지 관리가 쉬워진다.

In [1]:
# blank
score = 0
test = [100,90,50,65,70]

for s in test:
  score +=s
score

375

In [2]:
# blank
test2 = [50,22,29,100,10,100]
for s in test2:
  score += s

score

686

    같은 연산의 코드 작성을 반복해서 써야하므로 불편하고 힘들고 간단히 만들어보자!

### 함수의 선언과 호출

#### 선언
```python
def 함수명(param1, param2, ...):
    # 작성하고 싶은 코드 구문
    #..
    #..
    return 결과값
```

In [4]:
# blank
def score(test):
  point = 0
  for s in test:
    point += s
  return point

In [7]:
# test
test1 = [100, 50, 75, 65, 30]
test2 = [50, 40, 25, 15, 11, 20]

#print(score(test1))
print(score(test2))

161

In [10]:
# blank
def get_area(radius):
  return 3.14*radius*2

get_area(10)

62.800000000000004

##### quiz
    1. 정수를 제곱하는 함수
    2. 평균을 구하는 함수

In [11]:
# blank
def square(n):
  return n**2
def average(n1,n2):
  return (n1+n2)/2

print(square(10), average(10,20))

100 15.0

In [ ]:
# blank

#### 호출

##### parameter, argument
```python
    def 함수명(파라미터):
        return
    
    함수명(아규먼트)
```
    - 파라미터는 함수를 선언할 때 호출할 변수
    - 아규먼트는 함수를 호출할 때 보내줄 변수
    - 함수를 선언할 때 파라미터의 타입과 개수를 맞추지 않으면 에러가 발생

In [12]:
# blank
def bowling(n1,n2,n3=50):
  return n1+n2+n3
bowling(200,150)

400

In [13]:
# blank
bowling(200,150,0), bowling(200,150,n3=10)

(350, 360)

#### return
    - 선언한 함수의 결과값을 저장
    - 함수내에서 연산 진행중에 return에 도달하면 연산이 종료
    - return을 작성하지 않으면 결과값을 저장하지 않음

In [14]:
# blank
def print_test(text):
  return text.upper()# 앞에 있는 변수가 문자라면 대문자로 만들어줌

text = "hello python"
print_test(text)

'HELLO PYTHON'

In [17]:
# blank
def print_test(text):
    return text.upper()
text = "hello python"
#print_test(text)
print_test(text).lower()# lower() 함수를 실행할 수 없음  return 써야함

'hello python'

In [18]:
# 함수 연산을 중단 시키는 예제
def alpha_check(text):
    for t in text:
        if t.isalpha(): # isalpha() : str타입의 변수가 알파벳으로 구성되어있으면 True, 아니면 False를 반환하는 함수
            continue
        else:
            print(text.index(t)+1)
            return False
    print("Clear!")
    return True

text = 'abcdeFgHijk1op'
text2 = 'mn2asd'
text3 = 'easyupclass'
alpha_check(text), alpha_check(text2), alpha_check(text3)

12
3
Clear!

(False, False, True)

#### arguments와 keyword arguments
    - 함수 선언시 파라미터의 수를 특정할 수 없을 경우 사용
    - keyword args의 경우 아규먼트로 함수 호출 시 키워드를 작성하여 호출
    - args는 튜플 타입
    - kwargs는 딕셔너리 타입

In [19]:
def operation(a=0,b=0,c=0):
  return a*b+c
operation(1,2,3)

5

In [ ]:
def hap(*args, **kwargs):
    print(type(args), args)
    print(type(kwargs), kwargs)
    return sum(args) + sum(list(kwargs.values()))

hap(1,2,3,4,5, num1=6, num2=7)

In [21]:
operation(1,c=33)
#operation(1,a=2)

33

가변인수

In [24]:
# blank
def hap(num,*args,**kwargs):
  print(type(num),num)
  print(type(args),args)
  print(type(kwargs),kwargs)
  return num+sum(args)+sum(list(kwargs.values()))

# hap(1)
hap(1,2,3,num1=4,num2=5)

<class 'int'> 1
<class 'tuple'> (2, 3)
<class 'dict'> {'num1': 4, 'num2': 5}

15

list타입 데이터를 args로 호출하는 방법

In [25]:
def multiply(n1,n2,n3):
  return n1*n2**n3

ls = [2,8,4]
multiply(*ls)

8192

In [ ]:
ls2 = [2, 3, 4, 5]
gop(*ls2) # 함수 선언시 *args로 선언하지 않고 파라미터의 개수가 맞지 않아서 오류 발생

In [ ]:
def hap2(*args):
    return sum(args)
# hap2(ls2)
ls3 = [1, 2, 3]
hap2(ls3) # 호출하는 argument 타입이 직접 입력이 아닌 경우에도 에러가 발생

In [ ]:
# blank